# Data Science Tools and Ecosystem
![title](./2-title.png)

In this notebook, Data Science Tools and Ecosystem are summarized.
![intro](./3-intro.png)

**Objectives:**
- Getting introduced with Jupyter Notebooks
- Getting introduced with R Studio
- Getting introduced with Data Viz
- Getting introduced with Version Control
![objectives](./10-objectives.jpg)

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R
![languages](./4-dslanguages.jpg)

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. pandas
3. sickit-learn
![libraries](./5-dslibraries.jpg)

|Data Science tools|
|--
|Git & github|
|R Studio|
|Anaconda|
![tools](./6-dstools.jpg)

### Below are a few examples of evaluating arithmetic expressions in Python
![introarithmetic](./7-introarithmetic.jpg)

In [1]:
#   This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

![multiply](./8-multiplyandaddintegers.jpg)

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

![hourstominutes](./9-hourstominutes.jpg)

## Author
Julien Vernay
![author](./11-authordetails.jpg)